/* Hero section  */

.hero {
  background-color: rgba(73, 94, 87, 1);
  height: 340px;
}

.heroWrapper {
  display: flex;
}

.heroLeft {
  padding: 20px 0;
  width: 50%;
}

.heroHeading {
  font-family: "Markazi Text", sans-serif;
  font-size: 64px;
  color: rgba(244, 206, 20, 1);
  line-height: 0.7;
  margin-bottom: 5px;
}

.heroSubHeading {
  font-family: "Markazi Text", sans-serif;
  font-size: 36px;
  color: #fff;
  line-height: 0.7;
  margin-bottom: 20px;
}

.heroText {
  max-width: 300px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.button {
  max-width: 250px;

  padding: 5px 30px;
  border-width: 0;
  box-shadow: none;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 0.7;
  color: black;
  background-color: rgba(244, 206, 20, 1);
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  outline: none;
  transition-duration: 0.3s;
}

.button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transition-duration: 0.15s;
}

.heroButton {
  height: 45px;
  margin-top: 20px;
}

.heroRight {
  position: relative;
  width: 50%;
}

.heroImageWrapper {
  background-image: url("../../images/restauranfood.jpg");
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  position: absolute;
  top: 20px;
  right: 0;
  height: 376px;
  width: 900px;
  border-radius: 16px;
  -webkit-box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
  -moz-box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
  box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
}

@media screen and (max-width: 1400px) {
  .heroImageWrapper {
    width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .heroImageWrapper {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .heroWrapper {
    flex-direction: column;
  }

  .heroLeft {
    width: 100%;
  }

  .heroRight {
    display: none;
  }
}

/* Specials section  */

.specials {
  margin-top: 60px;
  padding: 60px 0;
}

.specialsHeadingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.specialsHeading {
  font-family: "Markazi Text", sans-serif;
  font-size: 64px;
  color: #000;
  line-height: 0.7;
}

.specialsButton {
  height: 65px;
}

.specialsCardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

@media screen and (max-width: 1200px) {
  .specialsCardsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .specialsHeadingWrapper {
    flex-direction: column;
  }

  .specialsHeading {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }

  .specialsCardsWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .button {
    max-width: 100%;
    width: 100%;
  }
}

.specialsCard {
  -webkit-box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
  -moz-box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
  box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
  border-radius: 16px 16px 0 0;
}

.specialsCardImage {
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 220px;
  border-radius: 16px 16px 0 0;
}

.specialsCardImageOne {
  background-image: url("../../images/greek\ salad.jpg");
}

.specialsCardImageTwo {
  background-image: url("../../images/bruchetta.png");
}

.specialsCardImageThree {
  background-image: url("../../images/lemon\ dessert.jpg");
}

.specialsCardInfo {
  padding: 20px;
  background-color: rgba(237, 239, 238, 1);
}

.specialsCardHeading {
  display: flex;
  justify-content: space-between;
  font-family: "Markazi Text", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.specialsCardHeading p {
  color: rgba(238, 153, 114, 1);
  font-weight: 600;
}

.specialsCardTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.specialsCardText {
  font-size: 18px;
  margin-bottom: 40px;
}

.specialsCardDelivery {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  width: 165px;
}

.specialsCardDelivery span {
  margin-right: 10px;
}

.specialsCardDelivery img {
  transform: scaleX(-1);
}

/* Testimonials section  */

.testimonials {
  background-color: rgba(73, 94, 87, 0.5);
  padding: 60px 0;
}

.testimonialsHeading {
  font-family: "Markazi Text", sans-serif;
  font-size: 64px;
  color: #000;
  line-height: 0.7;
  text-align: center;
  margin-bottom: 40px;
}

.testimonialsWrapper {
}

.testimonialsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.testimonialsItem {
  border-radius: 16px;
  color: #edefee;
  background-color: #333333;
  -webkit-box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
  -moz-box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
  box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
}

.testimonialsCardWrapper {
  padding: 20px;
}

.testimonialsRating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.testimonialsRating img {
  height: 30px;
}

.testimonialsProfile {
  display: flex;
  align-items: center;
}

.testimonialsProfileImage {
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.testimonialsProfileName {
  font-size: 18px;
}

.testimonialsText {
  font-size: 14px;
}

@media screen and (max-width: 1400px) {
  .testimonialsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}

@media screen and (max-width: 1400px) {
  .testimonialsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .testimonialsList {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .testimonialsList {
    grid-template-columns: 1fr;
  }
}

/* About section  */

.about {
  padding: 60px 0;
  height: fit-content;
  min-height: 30em;
}

.aboutWrapper {
  display: flex;
  justify-content: space-between;
}

.aboutLeft {
  width: 45%;
}

.aboutHeading {
  font-family: "Markazi Text", sans-serif;
  font-size: 64px;
  color: rgba(73, 94, 87, 1);
  line-height: 0.7;
}

.aboutSubHeading {
  font-family: "Markazi Text", sans-serif;
  font-size: 36px;
  color: rgba(244, 206, 20, 1);
  line-height: 0.7;
  margin-bottom: 20px;
}

.aboutText {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 10px;
}

.aboutRight {
  width: 45%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.aboutImage {
  max-height: 245px;
  border-radius: 16px;
  -webkit-box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
  -moz-box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
  box-shadow: 19px 20px 26px -19px rgba(73, 94, 87, 1);
}

.aboutImageTop {
  position: absolute;
  top: 150px;
  right: 250px;
  z-index: 2;
}

.aboutImageBottom {
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .aboutImageTop {
    display: none;
  }

  .aboutRight {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .about {
    min-height: 52em;
  }

  .aboutWrapper {
    flex-direction: column;
  }

  .aboutLeft {
    width: 100%;
  }

  .aboutRight {
    width: 100%;
  }

  .aboutImageTop {
    display: block;
  }

  .aboutImage {
    max-height: 190px;
  }
}

@media screen and (max-width: 576px) {
  .about {
    min-height: 30em;
  }

  .aboutRight {
    justify-content: center;
  }

  .aboutImageTop {
    display: none;
  }
}
