header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.logoLink {
  margin-right: 7vw;
}

.logoImg {
  height: 60px;
}

@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
}
